/**
*Custom css
*/


.btn{
    border-radius:0px;
  }

.jumbotron{
  margin-left: -20px;
  margin-right: -20px;
  margin-top: -25px;
}

.jumbotron{
  color:#fff;
  border-bottom: 1bx solid #d3e0e9;
  border-radius: 0;
  background: linear-gradient(to right, #1D4350, #A43931);
}


.white-text{
  color: blue;
}



.featured_image{
  width:100%;
}